<div class="container dark-bg">
    <div class="row">
      <section class="innovation-workshop">
        <form action="" method="">		    
          <input type="search" placeholder="What are you looking for?" 
          (keyup)="searchTerms.next($event.target.value)">		    	
          <button>Search</button>
        </form>
        <ul *ngIf="results" class="list-group">
            <li class="list-group-item" *ngFor="let result of results | slice:0:9">
              <a href="{{ result.latest }}" target="_blank">
                {{ result.name }}
              </a>
            </li>
          </ul>
      </section>
  </div>
</div>
